c8y-data-grid button[title="Reload"] {
  display: none;
}

/* c8y-data-grid div.dropdown[container="body"] {
  display: none;
} */

.text-align-center {
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.popover-body {
  overflow: auto;
}

.font-smaller {
  font-size: smaller !important;
}

json-editor>div {
  max-height: 300px;
  overflow: auto !important;
}