# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.classpath
*.project
*.log
*.orig
.settings/
target/
logs/
bin/
.idea/*
*.iml

frontend/mqtt_configuration/dist
frontend/mqtt-configuration/node_modules
frontend/.DS_Store
backend/src/.DS_Store
backend/src/main/.DS_Store
backend/.DS_Store
.DS_Store
.gitignore
backend/.DS_Store
backend/src/main/java/mqttagent/Test.java
.DS_Store
backend/mqtt-mapper-agent-I-ssldaehpresal59615hycloudsoftwareagcom8883/.lck
backend/.DS_Store
.DS_Store
.vscode/settings.json
.vscode/settings.json
frontend/mqtt-configuration/src/mqtt-mapping/data.ts
frontend/mqtt-configuration/src/mqtt-mapping/gc.html
frontend/mqtt-configuration/src/mqtt-mapping/gc.ts
frontend/mqtt-mapping/src/mqtt-mapping/gc.html
frontend/mqtt-mapping/src/mqtt-mapping/gc.ts
frontend/mqtt-mapping/src/mqtt-mapping/data.ts
