<c8y-title>{{ 'All extensions' | translate }}</c8y-title>

<c8y-breadcrumb>
  <!-- <c8y-breadcrumb-item [icon]="'c8y-atom'" [label]="'Processor' | translate"></c8y-breadcrumb-item> -->
  <c8y-breadcrumb-item [icon]="'c8y-modules'" [label]="'Extensions' | translate" [path]="'mqtt-mapping/extensions'">
    <!-- <c8y-breadcrumb-item [icon]="'c8y-modules'" [label]="'Extensions' | translate"> -->
  </c8y-breadcrumb-item>
  <c8y-breadcrumb-item [icon]="'c8y-modules'" [label]="'All extensions' | translate"></c8y-breadcrumb-item>
</c8y-breadcrumb>

<c8y-action-bar-item [placement]="'right'">
  <button (click)="addExtension()" class="btn btn-link" title="{{ 'Add extension' | translate }}" [disabled]="!externalExtensionEnabled">
    <i c8yIcon="plus-circle"></i>
    {{ 'Add extension' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'">
  <button (click)="reloadExtensions()" class="btn btn-link" title="{{ 'Reload' | translate }}" >
    <i [ngClass]="{ 'icon-spin': reloading }" c8yIcon="refresh"></i>
    {{ 'Reload' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'">
  <div class="no-min-height p-t-0 card-column-40 text-center-grid">
    <span class="label label-primary">Extension {{externalExtensionEnabled ? 'external' : 'internal' }}</span>
  </div>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'left'" itemClass="navbar-form hidden-xs">
  <c8y-list-display-switch (onListClassChange)="listClass = $event" [listLength]="(extensions$ | async)?.length">
  </c8y-list-display-switch>
</c8y-action-bar-item>

<div *ngIf="(extensions$ | async)?.length === 0" class="c8y-empty-state text-center">
  <h1 class="c8y-icon c8y-icon-modules c8y-icon-duocolor"></h1>
  <h3 translate>No extension to display.</h3>
  <p translate>Add your first extension by clicking below.</p>
  <p>
    <button (click)="addExtension()" class="btn btn-primary" title="{{ 'Add extension' | translate }}">
      {{ 'Add extension' | translate }}
    </button>
  </p>
</div>

<div [ngClass]="listClass" class="card-group">
  <div class="page-sticky-header hidden-xs flex-row" *ngIf="(extensions$ | async)?.length > 0">
    <div class="card-block card-column-40">
      <div class="card-appicon p-l-32 p-r-16 m-r-0 m-l-4"></div>
      {{ 'Extension' | translate }}
    </div>
    <div class="card-block p-0 card-column-80">
      <div class="card-block card-column-20"></div>
    </div>
  </div>
  <div *ngFor="let app of extensions$ | async" class="col-xs-12 col-sm-4 col-md-3">
    <mapping-extension-card (onAppDeleted)="loadExtensions()" [app]="app" [loaded]="loaded" class="d-contents">
    </mapping-extension-card>
  </div>
</div>