<label
  [class.c8y-checkbox]="!to.switchMode"
  [class.c8y-switch]="to.switchMode"
  [class.has-error]="showError"
>
  <input
    type="checkbox"
    [class.is-invalid]="showError"
    [class.form-check-input]="to.formCheck.indexOf('custom') === -1"
    [class.position-static]="to.formCheck === 'nolabel'"
    [class.custom-control-input]="to.formCheck.indexOf('custom') === 0"
    [indeterminate]="to.indeterminate && formControl.value == null"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [attr.data-cy]="'c8y-field-checkbox--' + (field.templateOptions?.optionDataCy || to.label)"
  />
  <span></span>
  <span class="text-truncate" title="{{ to.label | humanize }}">{{ to.label | humanize }}</span>
  <span *ngIf="to.required && to.hideRequiredMarker !== true">
    <em class="m-l-4" translate>(required)</em>
  </span>
  <button
    class="btn-help btn-help--sm m-t-auto m-b-auto"
    type="button"
    [attr.aria-label]="'Help' | translate"
    [popover]="to.description"
    triggers="focus"
    placement="right"
    *ngIf="!!to.description"
  ></button>
</label>
