<div class="card pointer card--d-col">
  <div (click)="detail()" class="card-block text-center card-column-40">
    <div class="card-appicon">
      <!-- <c8y-app-icon [app]="app" [contextPath]="app.contextPath" [name]="app.name"></c8y-app-icon> -->
      <i c8yIcon="plugin"></i>
    </div>
    <p class="e2e-appCardName text-medium" title="{{ app.name }}">
      {{ app.name}}
    </p>
    <small *ngIf="app.manifest?.version" class="text-muted">
      <em>{{ app.manifest.version }}</em>
    </small>
  </div>

  <div class="card-block no-min-height p-t-0 p-b-32 card-column-20 text-center-grid">
    <span *ngIf= "app.loaded == ExtensionStatus.COMPLETE" class="label label-success">Loaded ({{app.extensionEntries.length}})</span>
    <span *ngIf= "app.loaded == ExtensionStatus.NOT_LOADED" class="label label-warning">Not Loaded</span>
    <span *ngIf= "app.loaded == ExtensionStatus.PARTIALLY" class="label label-primary">Partially ({{app.extensionEntries.length}})</span>
    <span *ngIf= "app.loaded == ExtensionStatus.UNKNOWN" class="label label-warning">Not Known</span>
  </div>

  <div class="card-actions m-t-0">
    <div class="dropdown" dropdown>
      <button class="dropdown-toggle c8y-dropdown" dropdownToggle title="{{ 'Settings' | translate }}">
        <i c8yIcon="ellipsis-v"></i>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <li>
          <button (click)="delete()" title="{{ 'Delete' }}">
            <i c8yIcon="trash" class="m-r-4"></i>
            {{ 'Delete' | translate }}
          </button>
        </li>
      </ul>
    </div>
  </div>

</div>