<c8y-title>{{ 'Statistic cache' | translate }}</c8y-title>

<c8y-breadcrumb>
  <c8y-breadcrumb-item
    [icon]="'monitoring'"
    [label]="'Monitoring' | translate"
  ></c8y-breadcrumb-item>
  <c8y-breadcrumb-item [label]="'Statistic cache' | translate"></c8y-breadcrumb-item>
</c8y-breadcrumb>

<c8y-action-bar-item [placement]="'right'">
  <li>
    <a
      class="btn btn-link"
      title="{{ 'Reload' | translate }}"
      (click)="reload()"
    >
      <i
        c8yIcon="refresh"
        [ngClass]="{ 'icon-spin': loading }"
      ></i>
      {{ 'Reload' | translate }}
    </a>
  </li>
</c8y-action-bar-item>

<div
  class="interact-grid"
  *ngIf="!loading; else loadingTemplate"
>
  @for (kpi of kpisDetails; track kpi.id) {
    <a
      class="card"
      [routerLink]="['kpi', kpi.id]"
    >
      <d11r-kpi-item
        [kpiName]="kpi.id"
        [kpi]="kpi"
      ></d11r-kpi-item>
    </a>
  }
</div>

<ng-template #loadingTemplate>
  <c8y-loading></c8y-loading>
</ng-template>