  <div class="card-block text-default visible-xs text-center p-b-0">
    <span class="text-12 text-uppercase text-muted">
      {{ kpi.name }}
    </span>
  </div>
  <div class="card-block text-default p-t-sm-48">
    <div class="d-flex fit-w  a-i-center gap-8 j-c-center">
      <i class="icon-32 c8y-icon-duocolor c8y-icon" [c8yIcon]="kpi.icon"></i>
      <span class="h1" data-cy="kpi-item-card--value">
        {{ kpi.value }}
      </span>
      <span class="a-s-baseline text-14 text-medium text-truncate" [title]="kpi.itemName"
        data-cy="kpi-item-card--label">
        {{ kpi.itemName }}
      </span>
    </div>
  </div>
  @if (kpi.limit && kpi.itemName !== 'Percent'){
  <div class="card-footer d-flex gap-16 j-c-center a-i-center">
    <span class="tag tag--default no-pointer" data-cy="kpi-item-card--limit">
      Limit: {{kpi.limit}}
    </span>
  </div>
  }