<div class="row" [formGroup]="myGroup">
  <div class="col-sm-6">
    <c8y-select [items]="formValues$ | async" formControlName="firstName" [placeholder]="'Select options'">
    </c8y-select>
  </div>
  <div class="col-sm-6">
    <pre>{{myGroup.value | json}}{{ formValues$ | async | json }}</pre>
  </div>
</div>
<form [formGroup]="serviceForm">
  <c8y-select formControlName="jsonataAgent" name="jsonataAgent" style="width:200px" [items]="agents$ | async"
    [placeholder]="'Select agent'"></c8y-select>
</form>