# TestResult
## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
| **requests** | [**List**](C8YRequest.md) | List of C8Y API requests that would be or were made | [optional] [default to null] |
| **warnings** | **List** | List of warning messages generated during processing | [optional] [default to null] |
| **errors** | **List** | List of error messages if processing failed | [optional] [default to null] |
| **logs** | **List** | List of log messages generated during processing | [optional] [default to null] |
| **success** | **Boolean** | Whether the test execution was successful | [optional] [default to null] |
| **testDeviceId** | **String** | ID of the test device created in Cumulocity IoT (if createTestDevice was true) | [optional] [default to null] |

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

