/* Target the custom button when user has no admin role */
.user-no-admin-or-create-role button[data-cy="custom"],
.user-no-admin-or-create-role button[title="Confirm"] {
  pointer-events: none !important;
  opacity: var(--c8y-root-component-disabled-opacity) !important;
  cursor: not-allowed !important;
}