<c8y-wizard-header> New header </c8y-wizard-header>
<c8y-wizard-body
  ><c8y-stepper>
    <cdk-step [stepControl]="formGroupStepOne" label="Device name">
      <div class="m-l-40 m-r-40 m-t-32">
        <h4 title="Device name" class="p-b-8">Enter the device name</h4>
        <c8y-form-group>
          <div [formGroup]="formGroupStepOne">
            <input
              class="form-control"
              type="text"
              #nameRef
              formControlName="name"
              placeholder="MyDevice"
              required
            />
            <c8y-messages>
              <c8y-message [name]="'required'" [text]="'Enter the name of the Device'"></c8y-message>
            </c8y-messages>
          </div>
        </c8y-form-group>
      </div>
      <c8y-stepper-buttons></c8y-stepper-buttons>
    </cdk-step>
    <cdk-step state="final" label="Job done!">
      <div class="m-l-40 m-r-40 m-t-32">
        <h4 class="p-b-32 text-center">Your device is now ready to save the world!</h4>
      </div>
    </cdk-step></c8y-stepper
  ></c8y-wizard-body
>
<c8y-wizard-footer *ngIf="stepper.selectedIndex === 0"> </c8y-wizard-footer>

<c8y-wizard-footer *ngIf="stepper.selectedIndex === 1">
  <button (click)="done()" class="btn btn-default" title="{{ 'Done' }}">
    {{ 'Done' }}
  </button>
</c8y-wizard-footer>
