<div [ngClass]="{ drawerOpen: showConfigMapping }">
  <div class="bottom-drawer">

    <c8y-stepper class="flex-col flex-nowrap no-align-items fit-h c8y-stepper--no-btns"
      [disableDefaultIcons]="{ edit: true, done: false }"
      [customClasses]="['col-md-6', 'col-md-offset-3', 'p-t-16', 'p-b-32', 'flex-no-shrink']" linear>
      <!-- override icons -->
      <ng-template c8yStepperIcon="final">
        <span [c8yIcon]="'hand-peace-o'"></span>
      </ng-template>
      <cdk-step [stepControl]="propertyForm" label="Define topic">
        <div class="p-16 p-t-0 flex-no-shrink separator-bottom col-xs-12">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <h4 class="text-center text-medium">
                Define topic
              </h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 flex-grow no-gutter">
          <div class="card-inner-scroll fit-h">
            <div class="card-block p-b-0">
              <div [formGroup]="propertyForm">
                <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                  <div class="form-group">
                    <label for="direct" class="" translate>Direction</label>
                    <div class="">
                      <div class="c8y-select-wrapper">
                        <select class="form-control" formControlName="direct"  [(ngModel)]="mapping.direct" #directRef (change)="onLinkDirectChanged($event)">
                          <option *ngFor="let _direct of LINK_DIRECT" [ngValue]="_direct.value">
                            {{ _direct.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="subscriptionTopic" class="" translate>Subscription Topic</label>
                    <input formControlName="subscriptionTopic" [(ngModel)]="mapping.subscriptionTopic" type="text"
                      class="form-control" placeholder="e.g. device/110" #topicRef required
                      (change)="onSubscriptionTopicChanged($event)" />
                    <c8y-messages>
                      <c8y-message *ngIf="propertyForm.errors?.[ValidationError.Only_One_Multi_Level_Wildcard]"
                        translate>
                        <span class="text-warning">Only one MultiLevel wildcard "#" is allowed.</span>
                      </c8y-message>
                      <c8y-message *ngIf="propertyForm.errors?.[ValidationError.Multi_Level_Wildcard_Only_At_End]"
                        translate><span class="text-warning">MultiLevel wildcard "#" can only appear at the end.</span>
                      </c8y-message>
                    </c8y-messages>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <label for="templateTopic">Template Topic</label>
                      <span class="hidden-xs hidden-sm m-l-4">
                        <ng-template #popTemplateTopic>The TemplateTopic name must begin with the Topic name.
                        </ng-template>
                        <button class="btn-clean text-primary" [popover]="popTemplateTopic"
                          popoverTitle="Template Topic Name" placement="right" triggers="focus" type="button">
                          <i c8yIcon="question-circle-o"></i>
                        </button>
                      </span>
                    </div>
                    <input formControlName="templateTopic" [(ngModel)]="mapping.templateTopic" type="text"
                      class="form-control" placeholder="e.g. device/110" #templateTopic id="templateTopic"
                      (change)="onTemplateTopicChanged($event)" required />
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <label for="templateTopic">Template Topic Sample</label>
                      <span class="hidden-xs hidden-sm m-l-4">
                        <ng-template #popTemplateTopicSample><span class="text-warning">The TemplateTopicSample name
                            must have the same number of
                            levels and must match the TemplateTopic.</span>
                        </ng-template>
                        <button class="btn-clean text-primary" [popover]="popTemplateTopicSample"
                          popoverTitle="Template Topic Name" placement="right" triggers="focus" type="button">
                          <i c8yIcon="question-circle-o"></i>
                        </button>
                      </span>
                    </div>
                    <div>
                      <input formControlName="templateTopicSample" [(ngModel)]="mapping.templateTopicSample" type="text"
                        class="form-control" placeholder="e.g. device/110" #topicRef required />
                      <c8y-messages>
                        <c8y-message *ngIf="propertyForm.errors?.[ValidationError.TemplateTopic_Not_Unique]" translate>
                          <span class="text-warning">This TemplateTopic must be unique across other
                            TemplateTopics.</span>
                        </c8y-message>
                        <c8y-message
                          *ngIf="propertyForm.errors?.[ValidationError.TemplateTopic_Must_Not_Be_Substring_Of_Other_TemplateTopic]"
                          translate><span class="text-warning">This TemplateTopic can't be the starting part of another
                            TemplateTopic or vice</span>
                          versa.
                        </c8y-message>
                        <c8y-message
                          *ngIf="propertyForm.errors?.[ValidationError.TemplateTopic_Must_Match_The_SubscriptionTopic]"
                          translate><span class="text-warning">The TemplateTopic must match the
                            SubscriptionTopic.</span>
                        </c8y-message>
                        <c8y-message
                          *ngIf="propertyForm.errors?.[ValidationError.TemplateTopic_And_TemplateTopicSample_Do_Not_Have_Same_Number_Of_Levels_In_Topic_Name]"
                          translate><span class="text-warning">The TemplateTopic and TemplateTopicSample do not have
                            same number of levels in the
                            Topic Name.</span>
                        </c8y-message>
                        <c8y-message
                          *ngIf="propertyForm.errors?.[ValidationError.TemplateTopic_And_TemplateTopicSample_Do_Not_Have_Same_Structure_In_Topic_Name]"
                          translate><span class="text-warning">TemplateTopic and TemplateTopicSample do not have same
                            structure in the Topic Name.</span>
                        </c8y-message>
                        <c8y-message
                          *ngIf="propertyForm.get('templateTopic').touched || propertyForm.get('subscriptionTopic').touched"
                          translate><span class="text-info">After changing the TemplateTopic or SubscriptionTopic all
                            substitions should to be revised.</span>
                        </c8y-message>
                      </c8y-messages>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="targetAPI" class="" translate>Target API</label>
                      <div class="c8y-select-wrapper">
                        <select class="form-control" formControlName="targetAPI" [(ngModel)]="mapping.targetAPI"
                          (change)="onTargetAPIChanged($event)" #targetAPIRef>
                          <option *ngFor="let api of API" [ngValue]="api.value">
                            {{ api.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="" translate>QOS</label>
                      <div class="c8y-select-wrapper">
                        <select class="form-control" formControlName="qos" [(ngModel)]="mapping.qos" #qosRef>
                          <option *ngFor="let q of QOS | keyvalue" [ngValue]="q.key">
                            {{ q.value }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" *ngIf="mapping.direct">
                    <label for="filterType" class="" translate>Filter Type</label>
                    <div class="">
                      <input formControlName="filterType" [(ngModel)]="mapping.filterType" type="text" class="form-control"
                             placeholder="e.g. c8y_alarm_type" #filterTypeRef >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label class="c8y-switch" title="{{ 'Active' | translate }}">
                        <input type="checkbox" formControlName="active" [(ngModel)]="mapping.active" />
                        <span></span>
                        <span>
                          {{ 'Active' | translate }}
                        </span>
                      </label>
                    </div>
                    <div class="col-md-6" *ngIf="mapping.targetAPI != API.INVENTORY.name">
                      <label class="c8y-switch" title="{{ 'Create Non Existing Device' | translate }}">
                        <input type="checkbox" formControlName="createNonExistingDevice"
                          [(ngModel)]="mapping.createNonExistingDevice" />
                        <span></span>
                        <span>
                          {{ 'Create Non Existing Device' | translate }}
                        </span>
                      </label>
                    </div>
                    <div class="col-md-6" *ngIf="mapping.targetAPI == API.INVENTORY.name">
                      <label class="c8y-switch" title="{{ 'Update Existing Device' | translate }}">
                        <input type="checkbox" formControlName="updateExistingDevice"
                          [(ngModel)]="mapping.updateExistingDevice" />
                        <span></span>
                        <span>
                          {{ 'Update Existing Device' | translate }}
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="c8y-switch" title="{{ 'Map device identifier' | translate }}">
                      <input formControlName="mapDeviceIdentifier" [(ngModel)]="mapping.mapDeviceIdentifier"
                        type="checkbox" />
                      <span></span>
                      <span>
                        {{ 'Map Device Idenfifier' | translate }}
                      </span>
                    </label>
                  </div>
                  <div class="form-group" *ngIf="propertyForm.get('mapDeviceIdentifier').value">
                    <label for="externalIdType" class="" translate>External Id Type</label>
                    <div>
                      <input formControlName="externalIdType" [(ngModel)]="mapping.externalIdType" type="text"
                        class="form-control" placeholder="e.g. c8y_Serial" #externalIdTypeRef />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <label class="m-r-4" translate>Snoop payload</label>
                      <span class="hidden-xs hidden-sm">
                        <ng-template #popTemplateSnoop>Snooping records the payloads and saves them for later usage.
                          Once the snooping starts and payloads are recorded, they can be used as templates for
                          defining
                          the source format of the MQTT mapping.</ng-template>
                        <button class="btn-clean text-primary" [popover]="popTemplateSnoop" popoverTitle="Snoop payload"
                          placement="top" triggers="focus" type="button">
                          <i c8yIcon="question-circle-o"></i>
                        </button>
                      </span>
                    </div>
                    <div class="c8y-select-wrapper">
                      <select class="form-control" formControlName="snoopStatus" [(ngModel)]="mapping.snoopStatus"
                        #snoopStatusRef>
                        <option *ngFor="let q of keys(SnoopStatus)" [ngValue]="q"
                          [disabled]="q != 'ENABLED' && q != 'NONE'">
                          {{ SnoopStatus[q] }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <c8y-stepper-buttons class="d-block card-footer p-24 separator" (onCancel)="onCancel.emit()"
          (onNext)="onNextSelected($event)" [labels]="{ next: 'Next', cancel: 'Cancel' }">
        </c8y-stepper-buttons>
      </cdk-step>
      <cdk-step [stepControl]="templateForm" label="Define templates and substitutions">
        <div class="p-16 p-t-0 flex-no-shrink separator-bottom col-xs-12">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
              <h4 class="text-center text-medium">
                Define templates and substitutions
              </h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 flex-grow no-gutter">
          <div class="card-inner-scroll fit-h">
            <div class="card-block p-b-0">
              <div class="container">
                <div [formGroup]="templateForm">
                  <div class="row">
                    <div class="legend form-block col-lg-10 col-lg-offset-1">
                      Templates
                    </div>
                    <div class="col-lg-4 col-lg-offset-1">
                      <div class="form-group">
                        <label translate>Source</label>
                        <div class="jsonColumnLarge" #editorSourceRef id="editorSourceRef">
                        </div>
                        <c8y-messages>
                          <c8y-message *ngIf="!currentSubstitution.hasPathSource()" translate><span
                              class="text-warning">Select source node to
                              define substitution!</span>
                          </c8y-message>
                        </c8y-messages>
                      </div>
                    </div>
                    <div class="col-lg-2 d-flex d-col a-i-center">
                      <label translate>Manage Substitutions</label>
                      <div class="p-b-8">
                        <button type="button" name="sample" class="btn btn-primary" style="min-width: 65px"
                          (click)="onSelectNextSubstitution()" translate title="Select substitution">
                          <i c8yIcon="skip"></i>
                        </button>
                        <span class="hidden-xs hidden-sm p-l-4">
                          <ng-template #popTemplateSelect>Select defined substitutions in templates.
                          </ng-template>
                          <button class="btn-clean text-primary" [popover]="popTemplateSelect" popoverTitle="Select"
                            placement="right" triggers="focus" type="button">
                            <i c8yIcon="question-circle-o"></i>
                          </button>
                        </span>
                      </div>
                      <div class="p-b-8">
                        <button type="button" name="sample" class="btn btn-primary" style="min-width: 65px;"
                          (click)="onAddSubstitution()" translate title="Add new substitution">
                          <i c8yIcon="add-new"></i>
                        </button>
                        <span class="hidden-xs hidden-sm p-l-4">
                          <ng-template #popTemplateAdd>Add new substitution. Before target and source property in templates
                            have to be selected.
                          </ng-template>
                          <button class="btn-clean text-primary" [popover]="popTemplateAdd" popoverTitle="Add new substitution"
                            placement="right" triggers="focus" type="button">
                            <i c8yIcon="question-circle-o"></i>
                          </button>
                        </span>
                      </div>
                      <div class="p-b-8 d-flex">
                        <div>
                          <button type="button" name="sample" class="btn btn-primary" style="min-width: 65px;"
                            (click)="onDeleteSubstitution()" translate title="Delete selected substitution">
                            <i c8yIcon="negative"></i>
                          </button>
                          <span class="hidden-xs hidden-sm p-l-4">
                            <ng-template #popTemplateDelete><span class="text-warning">Delete selected substitution.
                                Before substitution has to be
                                selected with the "Skip-Button".</span>
                            </ng-template>
                            <button class="btn-clean text-primary" [popover]="popTemplateDelete" popoverTitle="Delete"
                              placement="right" triggers="focus" type="button">
                              <i c8yIcon="question-circle-o"></i>
                            </button>
                          </span>
                        </div>
                        <div>
                          <button type="button" name="sample" class="btn btn-primary" style="min-width: 65px;"
                            (click)="onDeleteSubstitutions()" translate title="Delete all substitutions">
                            <i c8yIcon="negative"></i><i c8yIcon="negative"></i>
                          </button>
                          <span class="hidden-xs hidden-sm p-l-4">
                            <ng-template #popTemplateDeleteAll>Delete all substitutions.
                            </ng-template>
                            <button class="btn-clean text-primary" [popover]="popTemplateDeleteAll"
                              popoverTitle="Delete All" placement="right" triggers="focus" type="button">
                              <i c8yIcon="question-circle-o"></i>
                            </button>
                          </span>
                        </div>
                      </div>
                      <div class="p-b-8 d-flex">
                        <div>
                          <button type="button" name="sample" class="btn btn-primary" style="min-width: 65px;"
                            (click)="onSnoopedSourceTemplates()" translate title="Use snooped templates">
                            <i c8yIcon="enter-left"></i>
                          </button>
                          <span class="hidden-xs hidden-sm p-l-4">
                            <ng-template #popSnoopedTemplates>Use snooped templates in the source template.
                            </ng-template>
                            <button class="btn-clean text-primary" [popover]="popSnoopedTemplates"
                              popoverTitle="Use snooped templates" placement="right" triggers="focus" type="button">
                              <i c8yIcon="question-circle-o"></i>
                            </button>
                          </span>
                        </div>
                        <div>
                          <button type="button" name="sample" class="btn btn-primary" style="min-width: 65px;"
                            (click)="onSampleButton()" translate title="Use sample templates">
                            <i c8yIcon="enter-right"></i>
                          </button>
                          <span class="hidden-xs hidden-sm p-l-4">
                            <ng-template #popSampleTemplates>Use sample templates in the target template.
                            </ng-template>
                            <button class="btn-clean text-primary" [popover]="popSampleTemplates"
                              popoverTitle="Use sample templates" placement="right" triggers="focus" type="button">
                              <i c8yIcon="question-circle-o"></i>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 vcenter">
                      <div class="form-group">
                        <div class="input-group">
                          <label>Target</label>
                          <span class="hidden-xs hidden-sm m-l-4">
                            <ng-template #popTemplateTarget>The template contains the dummy field "_DEVICE_IDENT_" to
                              map
                              device identifiers.</ng-template>
                            <button class="btn-clean text-primary" [popover]="popTemplateTarget"
                              popoverTitle='Use dummy field "_DEVICE_IDENT_"' placement="right" triggers="focus"
                              type="button">
                              <i c8yIcon="question-circle-o"></i>
                            </button>
                          </span>
                        </div>
                        <div class="jsonColumnLarge" #editorTargetRef id="editorTargetRef">
                        </div>
                        <c8y-messages>
                          <c8y-message *ngIf="!currentSubstitution.hasPathTarget()" translate><span
                            class="text-warning">Select target node to
                            define substitution!</span>
                          </c8y-message>
                        </c8y-messages>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                      <label>
                        Defined substitutions
                        <span class="hidden-xs hidden-sm m-l-4">
                          <ng-template #popTemplateSub>Substitutions defining the device identifier are marked with an
                            "*".</ng-template>
                          <button class="btn-clean text-primary" [popover]="popTemplateSub"
                            popoverTitle="Defined substitutions" placement="right" triggers="focus" type="button">
                            <i c8yIcon="question-circle-o"></i>
                          </button>
                        </span>
                      </label>
                      <div style="min-height: 32px;">
                        <mapping-substitution-renderer [substitutions]="mapping.substitutions" [targetAPI]="mapping.targetAPI"
                          [setting]="{color : COLOR_HIGHLIGHTED, selectedSubstitutionIndex: selectedSubstitution}"
                          (onSelect)="onSelectSubstitution($event)">
                        </mapping-substitution-renderer>
                      </div>
                      <br>
                    </div>
                  </div>

                  <div>
                    <div class="row">
                      <div class="legend form-block col-lg-10 col-lg-offset-1">
                        Substitution
                      </div>
                      <div class="col-lg-5 col-lg-offset-1">
                        <div class="form-group">
                          <br>
                          <div class="input-group">
                            <label class="c8y-switch" title="{{ 'Expand Array' | translate }}">
                              <input type="checkbox" formControlName="ea"
                                [(ngModel)]="currentSubstitution.expandArray" />
                              <span></span>
                              <span>
                                {{ 'Expand Array' | translate }}
                              </span>
                            </label>
                            <span class="hidden-xs hidden-sm">
                              <ng-template #popExpandArray>Expand items of array to allow MULTI_VALUE or MULTI_DEVICE
                                substitutions.</ng-template>
                              <button class="btn-clean text-primary" [popover]="popExpandArray"
                                popoverTitle="Expand Array" placement="top" triggers="focus" type="button">
                                <i c8yIcon="question-circle-o"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div class="input-group">
                          <label class="m-r-4" translate>Repair strategy</label>
                          <span class="hidden-xs hidden-sm">
                            <ng-template #popRepairStrategy>Strategy defining what should happen when extracted arrays
                              in
                              different expressions do not have the same size. How are missing values handled?
                            </ng-template>
                            <button class="btn-clean text-primary" [popover]="popRepairStrategy"
                              popoverTitle="Repair strategy" placement="top" triggers="focus" type="button">
                              <i c8yIcon="question-circle-o"></i>
                            </button>
                          </span>
                        </div>
                        <div class="c8y-select-wrapper">
                          <select class="form-control" formControlName="rs"
                            [(ngModel)]="currentSubstitution.repairStrategy" #repairStrategyRef>
                            <option *ngFor="let q of keys(RepairStrategy)" [ngValue]="q"
                              [disabled]="!currentSubstitution.expandArray && (q == 'USE_FIRST_VALUE_OF_ARRAY' || q == 'USE_LAST_VALUE_OF_ARRAY')">
                              {{ RepairStrategy[q] }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1">
                        <div class="form-group">
                          <div class="input-group">
                            <label translate>Evaluate Expression on Source
                            </label>
                            <span class="hidden-xs hidden-sm p-l-4">
                              <ng-template #popTemplateJSON>Use <a href="https://jsonata.org"
                                  target="_blank">JSONata</a>
                                in your expressions:
                                <ol>
                                  <li>to convert a UNIX timestamp to ISO date format use:
                                    <code>$fromMillis($number(deviceTimestamp))</code>
                                  </li>
                                  <li>to join substring starting at position 5 of property <code>txt</code> with device
                                    identifier use: <code>$join([$substring(txt,5), "-", _DEVICE_IDENT_])</code></li>
                                  <li>escape properties with special characters with <code>`</code>. The property
                                    <code>customer-1</code> becomes <code>`customer-1`</code>
                                  </li>
                                  <li>function chaining using <code>~></code> is not supported, instead use function
                                    notation. The expression <code>Account.Product.(Price * Quantity) ~> $sum()</code>
                                    becomes <code>$sum(Account.Product.(Price * Quantity))</code></li>
                                </ol>
                              </ng-template>
                              <button class="btn-clean text-primary delay-hide" [popover]="popTemplateJSON"
                                popoverTitle="JSONata" placement="right" type="button">
                                <i c8yIcon="question-circle-o"></i>
                              </button>
                            </span>
                          </div>
                          <input #pathSourceRef type="text" class="form-control text-monospace font-smaller"
                            formControlName="ps" [(ngModel)]="currentSubstitution.pathSource"
                            placeholder="e.g. $join([$substring(txt,5), _DEVICE_IDENT_]) or $number(_DEVICE_IDENT_)/10" />
                          <c8y-messages>
                            <c8y-message *ngIf="sourceExpressionErrorMsg !== ''" translate><span
                                class="text-warning">{{sourceExpressionErrorMsg}}</span>
                            </c8y-message>
                          </c8y-messages>
                        </div>
                      </div>
                      <div class="col-lg-0">
                      </div>
                      <div class="col-lg-5">
                        <div class="form-group">
                          <label translate>Substitute in Target</label>
                          <input #pathTargetRef type="text" class="text-monospace form-control font-smaller "
                            formControlName="pt" [(ngModel)]="currentSubstitution.pathTarget" />
                          <c8y-messages>
                            <c8y-message *ngIf="targetExpressionErrorMsg !== ''" translate><span
                                class="text-warning">{{targetExpressionErrorMsg}}</span>
                            </c8y-message>
                            <c8y-message *ngIf="definesDeviceIdentifier(mapping.targetAPI,currentSubstitution)" translate><span
                                class="text-info"> <b>source.id</b>
                                is resolved using the external Id <b>{{mapping.externalIdType}}</b> defined in the
                                previous step.</span>
                            </c8y-message>
                          </c8y-messages>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1">
                        <div class="form-group">
                          <div class="input-group">
                            <label translate>Expression - result - </label>
                            <span>{{sourceExpressionResultType}}</span>
                          </div>
                          <input #sourceExpressionResultRef type="text" class="text-monospace form-control font-smaller"
                            formControlName="sourceExpressionResult" [ngModel]="sourceExpressionResult" readonly
                            disabled="true" />
                        </div>
                      </div>
                      <div class="col-lg-0">
                      </div>
                      <div class="col-lg-5">
                        <div class="form-group">
                          <div class="input-group">
                            <label translate>Expression - result - </label>
                            <span>{{targetExpressionResultType}}</span>
                          </div>
                          <input #sourceExpressionResultRef type="text" class="text-monospace form-control font-smaller"
                            formControlName="targetExpressionResult" [ngModel]="targetExpressionResult" readonly
                            disabled="true" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <c8y-messages>
                    <c8y-message
                      *ngIf="templateForm.errors?.[ValidationError.Only_One_Substitution_Defining_Device_Identifier_Can_Be_Used]"
                      translate><span class="text-warning">Only one substitution defining the
                        DeviceIdentifier_Can_Be_Used.</span>
                    </c8y-message>
                  </c8y-messages>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
          <button type="button" name="sample" class="btn btn-default" (click)="onSnoopedSourceTemplates()" translate
            [disabled]="mapping.snoopedTemplates?.length==0">
            Snooped templates
          </button>
          <button type="button" name="sample" class="btn btn-default" (click)="onSampleButton()" translate>
            Sample target templates
          </button>
        </div> -->
        <c8y-stepper-buttons class="d-block card-footer p-24 separator" (onCancel)="onCancel.emit()"
          (onNext)="onNextSelected($event)" [labels]="{ next: 'Next', cancel: 'Cancel' }"></c8y-stepper-buttons>
      </cdk-step> -->

      <cdk-step state="final" [stepControl]="testForm" label="Test mapping">
        <div class="p-16 p-t-0 flex-no-shrink separator-bottom col-xs-12">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <h4 class="text-center text-medium">
                Test mapping
              </h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 flex-grow no-gutter">
          <div class="card-inner-scroll fit-h">
            <div class="card-block p-b-0">
              <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <div>
                  <div class="form-group">
                    <label for="testResult" class="" translate>Cumulocity message - test</label>
                    <div class="jsonColumnLarge" #editorTestingRef id="editorTestingRef">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
          <button type="button" name="test" class="btn btn-default" (click)="onTestTransformation()" translate>
            Transform test message
          </button>
          <button type="button" name="test" class="btn btn-default" (click)="onSendTest()" translate>
            Send test message
          </button>
        </div>
        <c8y-stepper-buttons class="d-block card-footer p-24 separator" (onCustom)="onCommitButton()"
          [labels]="{ custom: 'Confirm'}">
        </c8y-stepper-buttons>
      </cdk-step>

    </c8y-stepper>

  </div>
</div>