<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="com.cumulocity.microservice.security.filter.provider.SpringSecurityContextProvider" level="ERROR" />

    <springProfile name="dev">
        <logger name="org.springframework.web" level="INFO" />
        <logger name="org.apache.commons.httpclient" level="INFO" />
        <logger name="httpclient.wire" level="DEBUG" />
        <logger name="${package}" level="DEBUG" />
        <logger name="com.cumulocity" level="DEBUG" />
    </springProfile>

    <springProfile name="test">
        <logger name="org.springframework.web" level="INFO" />
        <logger name="org.apache.commons.httpclient" level="INFO" />
        <logger name="httpclient.wire" level="INFO" />
        <logger name="${package}" level="DEBUG" />
        <logger name="com.cumulocity" level="DEBUG" />
    </springProfile>

    <springProfile name="prod">
        <logger name="com.cumulocity" level="INFO" />
        <logger name="${package}" level="INFO" />
    </springProfile>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <batchMaxBytes>65536</batchMaxBytes>
        <http>
            <url>https://logs-prod-012.grafana.net/loki/api/v1/push</url>
            <auth>
                <username></username>
                <password></password>
            </auth>
            <requestTimeoutMs>15000</requestTimeoutMs>
        </http>
        <format>
            <label>
                <pattern>app=dynamic-mapping-service,host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>l=%level c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>