<c8y-title translate>MQTT Mapping</c8y-title>
<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" title="{{ 'Refresh' | translate }}" (click)="refreshMappingStatus()">
    <i c8yIcon="refresh"></i>
    {{ 'Refresh' | translate }}
  </button>
</c8y-action-bar-item>
<div class="card">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-12 bg-white">
    <div class="card-block">
      <c8y-data-grid [title]="'Mapping Monitoring' | translate" [columns]="columns" [rows]="mappingStatus$ | async" 
        [pagination]="pagination" [actionControls]="actionControls" >
      </c8y-data-grid>
    </div>
  </div>
</div>