<div [ngClass]="{ drawerOpen: showConfigMapping }">
  <div class="bottom-drawer">

    <c8y-stepper class="flex-col flex-nowrap no-align-items fit-h c8y-stepper--no-btns"
      [disableDefaultIcons]="{ edit: true, done: false }"
      [customClasses]="['col-md-6', 'col-md-offset-3', 'p-t-16', 'p-b-32', 'flex-no-shrink']" linear>
      <!-- override icons -->
      <ng-template c8yStepperIcon="final">
        <span [c8yIcon]="'hand-peace-o'"></span>
      </ng-template>
      <cdk-step [stepControl]="propertyForm" label="Define topic">
        <div class="p-16 p-t-0 flex-no-shrink separator-bottom col-xs-12">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <h4 class="text-center text-medium">
                Define topic
              </h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 flex-grow no-gutter">
          <div class="card-inner-scroll fit-h">
            <div class="card-block p-b-0">
              <div [formGroup]="propertyForm">

                <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                  <c8y-form-group>
                    <label for="topic" class="" translate>Topic</label>
                    <div class="">
                      <input formControlName="topic" type="text" class="form-control" placeholder="e.g. device/110"
                        #idRef required (change)="checkTopicIsUnique($event)" />
                    </div>
                    <c8y-messages>
                      <c8y-message *ngIf="!topicUnique" translate>This Topic must be unique.</c8y-message>
                    </c8y-messages>
                  </c8y-form-group>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="targetAPI" class="" translate>Target API</label>
                      <div class="c8y-select-wrapper">
                        <select class="form-control" formControlName="targetAPI" #targetAPIRef>
                          <option *ngFor="let api of APIs" [ngValue]="api">
                            {{ api }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="" translate>QOS</label>
                      <div class="c8y-select-wrapper">
                        <select class="form-control" formControlName="qos" #qosRef>
                          <option *ngFor="let q of QOSs" [ngValue]="q.value">
                            {{ q.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="c8y-switch" title="{{ 'Active' | translate }}">
                        <input type="checkbox" formControlName="active" />
                        <span></span>
                        <span>
                          {{ 'Active' | translate }}
                        </span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label class="c8y-switch" title="{{ 'Create device' | translate }}">
                        <input type="checkbox" formControlName="createNoExistingDevice" />
                        <span></span>
                        <span>
                          {{ 'Create device' | translate }}
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="c8y-switch" title="{{ 'Map device identifier' | translate }}">
                      <input formControlName="mapDeviceIdentifier" type="checkbox" />
                      <span></span>
                      <span>
                        {{ 'Map device idenfifier' | translate }}
                      </span>
                    </label>
                  </div>
                  <div class="form-group" *ngIf="propertyForm.get('mapDeviceIdentifier').value">
                    <label for="externalIdType" class="" translate>External Id Type</label>
                    <div>
                      <input formControlName="externalIdType" type="text" class="form-control"
                        placeholder="e.g. c8y_Serial" #externalIdTypeRef />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="qos" class="" translate>Snoop payload</label>
                    <div class="c8y-select-wrapper">
                      <select class="form-control" formControlName="snoopTemplates" #snoopTemplatesRef>
                        <option *ngFor="let q of keys(Snoop_Status)" [ngValue]="q"
                          [disabled]="q != 'ENABLED' && q != 'NONE'">
                          {{ Snoop_Status[q] }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <c8y-stepper-buttons class="d-block card-footer p-24 separator" (onCancel)="onCancel.emit()"
          (onNext)="onNextSelected($event)" [labels]="{ next: 'Next', cancel: 'Cancel' }">
        </c8y-stepper-buttons>
      </cdk-step>

      <cdk-step label="Define templates">
        <div class="p-16 p-t-0 flex-no-shrink separator-bottom col-xs-12">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
              <h4 class="text-center text-medium">
                Define templates
              </h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 flex-grow no-gutter">
          <div class="card-inner-scroll fit-h">
            <div class="card-block p-b-0">

              <!-- <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3"> -->

              <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label translate>Template message - source</label>
                      <div class="jsonColumnLarge">
                        <json-editor [options]="editorOptionsSource" [data]="templateSource" #editorSource>
                        </json-editor>
                        <c8y-messages>
                          <c8y-message *ngIf="pathSourceMissing" translate>Select source node to define substitution!
                          </c8y-message>
                        </c8y-messages>
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-2 vcenter" style="text-align:center;">
                    <button type="button" name="sample" class="btn btn-default" (click)="onAddSubstitutionsClicked()"
                      translate>
                      Map ->
                    </button>

                  </div>
                  <div class="col-lg-5 vcenter">
                    <div class="form-group">
                      <label translate>Cumulocity message - target</label>
                      <div class="jsonColumnLarge">
                        <json-editor [options]="editorOptionsTarget" [data]="templateTarget" #editorTarget>
                        </json-editor>
                        <c8y-messages>
                          <c8y-message *ngIf="pathTargetMissing" translate>Select target node to define substitution!
                          </c8y-message>
                        </c8y-messages>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label translate>Evaluate Expression on Source</label>
                      <input type="text" class="form-control" [(ngModel)]="pathSource"
                        placeholder="e.g. $join([$substring(tx,5), TOPIC]) or $number(TOPIC)/10"
                        (change)="sourceExpressionChanged($event)" />
                        <c8y-messages>
                          <c8y-message *ngIf="sourceExpressionErrorMsg !== ''" translate>{{sourceExpressionErrorMsg}}
                          </c8y-message>
                        </c8y-messages>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
                    <div class="form-group">
                      <label translate>Substitute in Target</label>
                      <pre class="jsonColumnTiny">{{pathTarget}}
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-5 jsonColumn">
                    <div class="form-group">
                      <label translate>Expression - result</label>
                      <pre class="jsonColumnTiny">{{sourceExpressionResult}}
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="legend form-block">
                      Defined substitutions
                    </div>
                    <div>
                      <pre>{{substitutions}}</pre>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
          <button type="button" name="sample" class="btn btn-default" (click)="onSnoopedSourceTemplatesClicked()"
            translate [disabled]="mapping.snoopedTemplates.length==0">
            Snooped templates
          </button>
          <button type="button" name="sample" class="btn btn-default" (click)="onClearSubstitutionsClicked()" translate>
            Clear substitutions
          </button>
          <button type="button" name="sample" class="btn btn-default" (click)="onShowSubstitutionsClicked()" translate>
            Show substitutions
          </button>
          <button type="button" name="sample" class="btn btn-default" (click)="onSampleButtonClicked()" translate>
            Sample target templates
          </button>
        </div>
        <c8y-stepper-buttons class="d-block card-footer p-24 separator" (onCancel)="onCancel.emit()"
          (onNext)="onNextSelected($event)" [labels]="{ next: 'Next', cancel: 'Cancel' }"></c8y-stepper-buttons>
      </cdk-step>

      <cdk-step state="final" [stepControl]="testForm" label="Test mapping">
        <div class="p-16 p-t-0 flex-no-shrink separator-bottom col-xs-12">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <h4 class="text-center text-medium">
                Test mapping
              </h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 flex-grow no-gutter">
          <div class="card-inner-scroll fit-h">
            <div class="card-block p-b-0">
              <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <div>
                  <div class="form-group">
                    <label for="testResult" class="" translate>Cumulocity message - test</label>
                    <div style="height:200px">
                      <json-editor [options]="editorOptionsTesting" [data]="dataTesting" #editorResting></json-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
          <button type="button" name="test" class="btn btn-default" (click)="onTestTransformationClicked()" translate>
            Transform test message
          </button>
          <button type="button" name="test" class="btn btn-default" (click)="onSendTestClicked()" translate>
            Send test message
          </button>
        </div>
        <c8y-stepper-buttons class="d-block card-footer p-24 separator" (onCustom)="onCommitButtonClicked()"
          [labels]="{ custom: 'Confirm'}">
        </c8y-stepper-buttons>
      </cdk-step>

    </c8y-stepper>

  </div>
</div>