@import "~jsoneditor/dist/jsoneditor.min.css";

c8y-data-grid button[title="Reload"] {
  display: none;
}

/* c8y-data-grid div.dropdown[container="body"] {
  display: none;
} */

.jsoneditor-menu a.jsoneditor-poweredBy {
  font-size: 8pt;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  display: none;
}

.jsoneditor-menu>button {
  display: none !important;
}

div > div.jsoneditor-menu {
  background-color: #3883fa;
}
