c8y-data-grid button[title="Reload"] {
  display: none;
}

/* c8y-data-grid div.dropdown[container="body"] {
  display: none;
} */

.jsoneditor-menu a.jsoneditor-poweredBy {
  display: none;
}

.jsoneditor-menu>button {
  display: none !important;
}

div.jsoneditor-menu>div.jsoneditor-search {
  display: none !important;
}

div>div.jsoneditor-menu {
  background-color: var(--navigator-bg-color, var(--navigator-dark-bg-color, var(--brand-primary, #1776BF)));
}

.jsoneditor-contextmenu .jsoneditor-menu li button .jsoneditor-expand {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

.jsoneditor-contextmenu .jsoneditor-icon {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

div.jsoneditor-tree button.jsoneditor-button {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

div.jsoneditor-tree button.jsoneditor-dragarea {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

div.jsoneditor-tree .jsoneditor-button.jsoneditor-schema-error {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

.jsoneditor-text-errors tr .jsoneditor-schema-error {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

.jsoneditor-text-errors tr.parse-error .jsoneditor-schema-error {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

.jsoneditor-search button {
  background: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

.jsoneditor-statusbar>.jsoneditor-validation-error-icon {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}

.jsoneditor-statusbar>.jsoneditor-parse-error-icon {
  background-image: url("/apps/mqtt-configuration/assets/img/jsoneditor-icons.svg") !important;
}



button.jsoneditor-button.jsoneditor-dragarea {
  display: none !important;
}

.textAlignCenter {
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.jsonColumnSmall {
  max-height: 100px;
  overflow: auto !important;
}

.jsonColumn {
  border: 0; 
  background-color: transparent;
  font-size: smaller;
}

.jsonColumnLarge {
  max-height: 300px;
  overflow: auto !important;
}

.jsonColumnTiny {
  height: 34px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.padding-l0{
  padding-left:0;
}

.padding-r0{
  padding-right:0;
}

.jsoneditor-value {
  font-size: smaller !important;
}

.jsoneditor-field {
  font-size: smaller !important;
}

.jsoneditor {
  line-height: 75% !important;
}

.jsoneditor-readonly {
  font-size: smaller !important;
}

.popover-body {
  overflow: auto;
}