<div class="c8y-realtime">
  <span class="c8y-pulse animated pulse" [ngClass]="{
      active: context.item.active,
      inactive: !context.item.active
    }"></span>
</div>
<div class="c8y-realtime">
  <span class="c8y-pulse animated pulse" [ngClass]="{
      active: context.item.tested,
      inactive: !context.item.tested
    }"></span>
</div>
<div class="c8y-realtime">
  <span class="c8y-pulse animated pulse" [ngClass]="{
      active: context.item.snoopTemplates != 'NONE',
      inactive: context.item.snoopTemplates == 'NONE'
    }"></span>
</div>