<ng-template #popTemplate
  ><div [innerHtml]="props.description"></div
></ng-template>
<div [class]="classes" [class.has-error]="showError">
  <label
    *ngIf="props.label && props.hideLabel !== true"
    [attr.for]="id"
    class="text-pre-wrap"
  >
    {{ props.label | humanize }}
    <i
      *ngIf="props.tooltip"
      class="text-info"
      c8yIcon="info-circle"
      title="{{ props.tooltip | translate }}"
    ></i>
    <button
      class="btn-help btn-help--sm m-t-auto m-b-auto"
      type="button"
      [attr.aria-label]="'Help' | translate"
      [popover]="popTemplate"
      triggers="focus"
      placement="right"
      *ngIf="props.description && showDescriptionAsPopup"
    ></button>
  </label>
  <label *ngIf="props.hideLabel === true" [attr.for]="id" class="text-pre-wrap">
    <span>&nbsp;</span>
  </label>
  <div class="d-flex">
    <div class="flex-grow">
      <ng-template #fieldComponent></ng-template>
    </div>
    <ng-container *ngIf="props.customTemplateRef">
      <ng-container *ngTemplateOutlet="props.customTemplateRef"></ng-container>
    </ng-container>
  </div>

  <div *ngIf="showError" class="c8y-messages">
    <formly-validation-message
      class="form-control-feedback-message"
      [field]="field"
    ></formly-validation-message>
  </div>

  <div
    class="help-block has-info text-muted"
    *ngIf="!showError && props.description && !showDescriptionAsPopup"
  >
    {{ props.description | translate }}
  </div>
</div>
