<c8y-confirm-modal [title]="title" [status]="status" [labels]="labels" #snoopingRef>
  <div *ngIf= "snoopStatus == SnoopStatus.ENABLED">
    <div>The snooping for payloads starts.</div>
    <div>The wizzard closes at this step and can be continued, when payloads on the subscription topic are
        recorded.
    </div>
  </div>

  <div *ngIf= "snoopStatus == SnoopStatus.STARTED">
    <div>The snooping for payloads started. Already {{numberSnooped}} templates exist.</div>
      <div>Would you like to stop it?</div>
    <div>In this case in the wizzard step you can stop the snooping process and use the snooped payloads.
    </div>
  </div>
</c8y-confirm-modal>