# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build Mapper

on:
  workflow_dispatch:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: zulu
      - name: Getting version of pom.xml
        run:  echo ::set-output name=version::$(mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec)
        id: project
      #Building Starter backend
      - name: Build Starter Backend
        run: mvn -B package --file pom.xml
      - name: Packaging Starter Backend
        run: |
          mv ./dynamic-mapper-service/target/dynamic-mapper-service.zip ./dynamic-mapper-service/target/dynamic-mapper-service-starter.zip
          cp ./dynamic-mapper-service/target/dynamic-mapper-service-starter.zip ./dynamic-mapper-service/target/dynamic-mapper-service-starter-withoutMQTTService.zip
          mv ./dynamic-mapper-service/src/main/configuration/cumulocity-withoutMQTTService.json ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          sed -i 's/@project.version@/${{ steps.project.outputs.version }}/g' ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          zip ./dynamic-mapper-service/target/dynamic-mapper-service-starter-withoutMQTTService.zip ./dynamic-mapper-service/src/main/configuration/cumulocity.json -j
      #Packaging Standard backend
      - name: Packaging Standard Backend
        run: |
          cp ./dynamic-mapper-service/target/dynamic-mapper-service-starter.zip ./dynamic-mapper-service/target/dynamic-mapper-service-standard.zip
          mv ./dynamic-mapper-service/src/main/configuration/cumulocity-2c.json ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          zip ./dynamic-mapper-service/target/dynamic-mapper-service-standard.zip ./dynamic-mapper-service/src/main/configuration/cumulocity.json -j
          cp ./dynamic-mapper-service/target/dynamic-mapper-service-standard.zip ./dynamic-mapper-service/target/dynamic-mapper-service-standard-withoutMQTTService.zip
          mv ./dynamic-mapper-service/src/main/configuration/cumulocity-2c-withoutMQTTService.json ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          sed -i 's/@project.version@/${{ steps.project.outputs.version }}/g' ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          zip ./dynamic-mapper-service/target/dynamic-mapper-service-standard-withoutMQTTService.zip ./dynamic-mapper-service/src/main/configuration/cumulocity.json -j
      #Packaging performance backend
      - name: Packaging Performance Backend
        run: |
          cp ./dynamic-mapper-service/target/dynamic-mapper-service-standard.zip ./dynamic-mapper-service/target/dynamic-mapper-service-performance.zip
          mv ./dynamic-mapper-service/src/main/configuration/cumulocity-8c.json ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          zip ./dynamic-mapper-service/target/dynamic-mapper-service-performance.zip ./dynamic-mapper-service/src/main/configuration/cumulocity.json -j
          cp ./dynamic-mapper-service/target/dynamic-mapper-service-performance.zip ./dynamic-mapper-service/target/dynamic-mapper-service-performance-withoutMQTTService.zip
          mv ./dynamic-mapper-service/src/main/configuration/cumulocity-8c-withoutMQTTService.json ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          sed -i 's/@project.version@/${{ steps.project.outputs.version }}/g' ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          zip ./dynamic-mapper-service/target/dynamic-mapper-service-performance-withoutMQTTService.zip ./dynamic-mapper-service/src/main/configuration/cumulocity.json -j
      #Packaging max backend
      - name: Packaging Max Backend
        run: |
          cp ./dynamic-mapper-service/target/dynamic-mapper-service-performance.zip ./dynamic-mapper-service/target/dynamic-mapper-service-max.zip
          mv ./dynamic-mapper-service/src/main/configuration/cumulocity-16c.json ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          zip ./dynamic-mapper-service/target/dynamic-mapper-service-max.zip ./dynamic-mapper-service/src/main/configuration/cumulocity.json -j
          cp ./dynamic-mapper-service/target/dynamic-mapper-service-max.zip ./dynamic-mapper-service/target/dynamic-mapper-service-max-withoutMQTTService.zip
          mv ./dynamic-mapper-service/src/main/configuration/cumulocity-16c-withoutMQTTService.json ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          sed -i 's/@project.version@/${{ steps.project.outputs.version }}/g' ./dynamic-mapper-service/src/main/configuration/cumulocity.json
          zip ./dynamic-mapper-service/target/dynamic-mapper-service-max-withoutMQTTService.zip ./dynamic-mapper-service/src/main/configuration/cumulocity.json -j
      #Deployment
      - name: deploy
        uses: actions/setup-node@v2
        with:
          node-version: 20.x
      - run: npm ci
        working-directory: ./dynamic-mapper-ui
      - run: cp ./LICENSE ./dynamic-mapper-ui/LICENSE
        working-directory: ./
        
      # - run: npm install -g @angular/cli > /dev/null
      #   working-directory: ./dynamic-mapper-ui
      - run: npm run build --if-present
        working-directory: ./dynamic-mapper-ui
      - name: Zip Frontend Plugin
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        run: |
          cd dynamic-mapper-ui/dist/dynamic-mapper
          zip -r -q ../../dynamic-mapper-ui.zip *
      - name: Create Release
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false
      - name: Upload Release Asset Frontend Blueprint
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-frontend
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-ui/dynamic-mapper-ui.zip
          asset_name: dynamic-mapper-ui.zip
          asset_content_type: application/zip
      - name: Upload Release Asset Backend
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-starter
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-service/target/dynamic-mapper-service-starter.zip
          asset_name: dynamic-mapper-service-starter.zip
          asset_content_type: application/zip
      - name: Upload Release Asset Backend
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-standard
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-service/target/dynamic-mapper-service-standard.zip
          asset_name: dynamic-mapper-service-standard.zip
          asset_content_type: application/zip
      - name: Upload Release Asset Backend
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-performance
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-service/target/dynamic-mapper-service-performance.zip
          asset_name: dynamic-mapper-service-performance.zip
          asset_content_type: application/zip
      - name: Upload Release Asset Backend
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-max
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-service/target/dynamic-mapper-service-max.zip
          asset_name: dynamic-mapper-service-max.zip
          asset_content_type: application/zip
      - name: Upload Release Asset Backend
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-starter-wo-mqtt
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-service/target/dynamic-mapper-service-starter-withoutMQTTService.zip
          asset_name: dynamic-mapper-service-starter-withoutMQTTService.zip
          asset_content_type: application/zip
      - name: Upload Release Asset Backend
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-standard-wo-mqtt
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-service/target/dynamic-mapper-service-standard-withoutMQTTService.zip
          asset_name: dynamic-mapper-service-standard-withoutMQTTService.zip
          asset_content_type: application/zip
      - name: Upload Release Asset Backend
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-performance-wo-mqtt
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-service/target/dynamic-mapper-service-performance-withoutMQTTService.zip
          asset_name: dynamic-mapper-service-performance-withoutMQTTService.zip
          asset_content_type: application/zip
      - name: Upload Release Asset Backend
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset-max-wo-mqtt
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dynamic-mapper-service/target/dynamic-mapper-service-max-withoutMQTTService.zip
          asset_name: dynamic-mapper-service-max-withoutMQTTService.zip
          asset_content_type: application/zip

